*{
    background-color: #f4f4f4;
}
.Agent-main-heading{
    height:60px;
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #003366;
    color: #fff;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.select-role-agent{
    display: flex;
    justify-content: space-evenly;
}
.main-cantainer-agent{
    font-family: Arial, Helvetica, sans-serif;
    line-height:1.6;
    color: #333;
    padding: 20px;
}
.box{
    border: 2px solid black;
    border-radius: 5px;
    height: 480px;
    width: 23%;
    background-color: rgb(248, 248, 248);
}
.box-cont{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-img{
    height: 250px;
    background-size: cover;
    padding: 20px 0px 15px;
    border-radius:10px ;
}
.box-cont p{
    color:#007185;
}
.btn {
    display: inline-block;
    background-color: #ff9900;
    color: #fff;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

@media (max-width: 660px) {
    .property-Section {
        flex-direction: column;
        align-items: center;
        
    }
    .box {
        width: 90%;
        margin-bottom: 10px;
    }
}

h2{
    text-align: center;
}
footer{
    height:60px;
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #003366;
    color: #fff;
    text-align:center;
    /* font-weight: bold;
    margin-left: 14px; */
}
